/*----------------------------------------------*/
/*--------------- PROFILE STYLES ---------------*/
/*----------------------------------------------*/

#creators {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  padding: 2.5rem 0;
  display: grid;
  gap: 15rem;
}

.creators-profile {
  box-shadow: 0 0 20px #000000a0;
  background-color: #000000cf;
  border-radius: 10px;
  width: 400px;
}

.creators-profile-divider {
  border-bottom: 2px solid #ffffff25;
  border-radius: 40px;
  border-radius: none;
  border-left: none;
  border-top: none;
  margin: 0 auto;
  outline: none;
  width: 90%;
}

/*-------------------------------------*/
/*----------- HEADER STYLES -----------*/
/*-------------------------------------*/

.creators-profile-header {
  padding: 2rem 1rem 1rem 1rem;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.creators-profile-header-image {
  filter: drop-shadow(0 0 10px #00000050);
  margin: 0 auto;
  width: 240px;
}

.creators-profile-header-name {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  cursor: default;
  color: #fff;
}

.creators-profile-header-description {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  cursor: default;
  color: #fff;
}

/*-------------------------------------*/
/*------------ INFO STYLES ------------*/
/*-------------------------------------*/

.creators-profile-info {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
}

.creators-profile-info-block {
  justify-content: left;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.creators-profile-info-image {
  filter: drop-shadow(0 0 10px #00000050);
  width: 32px;
}

.creators-profile-info-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  cursor: default;
  color: #fff;
}

/*----------------------------------------*/
/*------------ SOCIALS STYLES ------------*/
/*----------------------------------------*/

.creators-profile-socials {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  padding: 1.5rem 0;
  display: grid;
  gap: 4rem;
}

.creators-profile-socials-link-image {
  filter: drop-shadow(0 0 10px #00000080);
  transition: scale 350ms;
  cursor: pointer;
  width: 48px;
}

/*-----------------------------------------*/
/*-------------- TRANSITIONS --------------*/
/*-----------------------------------------*/

.creators-profile-socials-link-image:hover {
  scale: 1.15;
}

/*------------------------------------------*/
/*--------------- RESPONSIVE ---------------*/
/*------------------------------------------*/

@media all and (width <= 1085px) {
  #creators {
    gap: 5rem;
  }
}

@media all and (width <= 920px) {
  #creators {
    gap: 2.5rem;
  }
}

@media all and (width <= 880px) {
  #creators {
    grid-auto-flow: row;
  }
}

@media all and (width <= 440px) {
  .creators-profile {
    width: 300px;
  }

  .creators-profile-image {
    width: 160px;
  }

  .creators-profile-header-description {
    font-size: 0.85rem;
    padding: 0 1rem;
  }

  .creators-profile-socials {
    gap: 2rem;
  }
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
