<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/creator.css" />
    <title>PedagogicSports | Creators</title>
  </head>

  <body>
    <header>
      <nav><%- include("./common/navbar.ejs") %></nav>
    </header>

    <main>
      <section id="creators">
        <div class="creators-profile">
          <div class="creators-profile-header">
            <img
              class="creators-profile-header-image"
              src="/creator/ryan.png"
            />

            <p class="creators-profile-header-name">Ryan D Mello</p>
            <p class="creators-profile-header-description">
              A passionate developer learning and exploring the world of
              technology, building games, websites and mobile applications.
            </p>
          </div>
          <hr class="creators-profile-divider" />
          <div class="creators-profile-info">
            <div class="creators-profile-info-block">
              <img
                class="creators-profile-info-image"
                src="/creator/whatsapp.png"
              />
              <p class="creators-profile-info-text">9145000789</p>
            </div>
            <div class="creators-profile-info-block">
              <img
                class="creators-profile-info-image"
                src="/creator/blackboard.png"
              />
              <p class="creators-profile-info-text">3BCA B</p>
            </div>
            <div class="creators-profile-info-block">
              <img
                class="creators-profile-info-image"
                src="/creator/school.png"
              />
              <p class="creators-profile-info-text">Christ University</p>
            </div>
          </div>
          <hr class="creators-profile-divider" />
          <div class="creators-profile-socials">
            <a
              href="https://github.com/RyxnDmello"
              class="creators-profile-socials-link"
              target="_blank"
            >
              <img
                class="creators-profile-socials-link-image"
                src="/creator/github.png"
              />
            </a>
            <a
              href="https://www.linkedin.com/in/ryanndmello/"
              class="creators-profile-socials-link"
              target="_blank"
            >
              <img
                class="creators-profile-socials-link-image"
                src="/creator/linkedin.png"
              />
            </a>
            <a
              href="https://www.instagram.com/ryxndmello10/"
              class="creators-profile-socials-link"
              target="_blank"
            >
              <img
                class="creators-profile-socials-link-image"
                src="/creator/instagram.png"
              />
            </a>
          </div>
        </div>
        <div class="creators-profile">
          <div class="creators-profile-header">
            <img
              class="creators-profile-header-image"
              src="/creator/aditya.png"
            />
            <p class="creators-profile-header-name">Aditya Singh</p>
            <p class="creators-profile-header-description">
              Aspiring coder with the passion for coding and creativity, On a
              journey to turn ideas into digital realities.
            </p>
          </div>
          <hr class="creators-profile-divider" />
          <div class="creators-profile-info">
            <div class="creators-profile-info-block">
              <img
                class="creators-profile-info-image"
                src="/creator/whatsapp.png"
              />
              <p class="creators-profile-info-text">9987056723</p>
            </div>
            <div class="creators-profile-info-block">
              <img
                class="creators-profile-info-image"
                src="/creator/blackboard.png"
              />
              <p class="creators-profile-info-text">3BCA B</p>
            </div>
            <div class="creators-profile-info-block">
              <img
                class="creators-profile-info-image"
                src="/creator/school.png"
              />
              <p class="creators-profile-info-text">Christ University</p>
            </div>
          </div>
          <hr class="creators-profile-divider" />
         

          <div class="creators-profile-socials">
            <a
