<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/creator.css" />
    <title>PedagogicSports | Creators</title>
  </head>

  <body>
    <main>
      <header>
        <nav><%- include("./common/navbar.ejs") %></nav>
      </header>

      <section class="creator-page">
        <div class="creator1-profile">
          <div class="creator1-profile-image">
            <img class="creator1-image" src="/creator/ryan.png" />
          </div>

          <div class="creator1-name-info">
            <p class="creator1-name">Aditya Singh</p>
          </div>

          <div class="creator1-bio">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi id
              fugit quis earum esse nesciunt. Esse nostrum architecto
              distinctio, necessitatibus perspiciatis nesciunt ex voluptatem
              impedit.
            </p>
          </div>

          <hr />

          <div class="creator1-personal-info">
            <div class="personal-detail">
              <img class="whatsapp-image" src="/creator/whatsapp.png" />
              <p class="phone-number">9987056723</p>
              <img class="blackboard-image" src="/creator/blackboard.png" />
              <p class="class-name">3BCA B</p>
              <img class="college-image" src="/creator/school.png" />
              <p class="college-name">Christ University</p>
            </div>
          </div>

          <hr />

          <div class="creator1-socialmedia-link">
            <a href="https://github.com/ADITYA2004S" target="_blank">
              <img class="socialmedia-icon" src="/creator/github.png" />
            </a>

            <a
              href="https://www.linkedin.com/in/aditya-singh-1a031124a/"
              target="_blank"
            >
              <img class="socialmedia-icon" src="/creator/linkedin.png" />
            </a>

            <a
              href="https://www.instagram.com/_just_adiistuff_/"
              target="_blank"
            >
              <img class="socialmedia-icon" src="/creator/instagram.png" />
            </a>
          </div>
        </div>

        <!-------------------------------------------------->
        <!------------------creator 2----------------------->
        <!-------------------------------------------------->

        <div class="creator1-profile">
          <div class="creator1-profile-image">
            <img class="creator1-image" src="/creator/ryan.png" />
          </div>

          <div class="creator1-name-info">
            <p class="creator1-name">Ryan Dmello</p>
          </div>

          <div class="creator1-bio">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi id
              fugit quis earum esse nesciunt. Esse nostrum architecto
              distinctio, necessitatibus perspiciatis nesciunt ex voluptatem
              impedit.
            </p>
          </div>

          <hr />

          <div class="creator1-personal-info">
            <div class="personal-detail">
              <img class="whatsapp-image" src="/creator/whatsapp.png" />
              <p class="phone-number">9145000789</p>

              <img class="blackboard-image" src="/creator/blackboard.png" />
              <p class="class-name">3BCA B</p>

              <img class="college-image" src="/creator/school.png" />
              <p class="college-name">Christ University</p>
            </div>
          </div>

          <hr />

          <div class="creator1-socialmedia-link">
            <a href="https://github.com/RyxnDmello" target="_blank">
              <img class="socialmedia-icon" src="/creator/github.png" />
            </a>

            <a href="https://www.linkedin.com/in/ryanndmello/" target="_blank">
              <img class="socialmedia-icon" src="/creator/linkedin.png" />
            </a>

            <a href="https://www.instagram.com/ryxndmello10/" target="_blank">
              <img class="socialmedia-icon" src="/creator/instagram.png" />
            </a>
          </div>
        </div>
      </section>
    </main>

    <footer><%- include("./common/footer.ejs") %></footer>

    <script type="module" src="/Navbar.js"></script>
  </body>
</html>
