<h2 class="intro-info-title"><%= title %></h2>

<div class="intro-info-links">
  <a class="intro-info-link" href="#schedule">
    <p class="intro-info-link-text">View Schedule</p>
    <img class="intro-info-link-image" src="/buttons/arrow.png" />
  </a>

  <a class="intro-info-link" href="#points">
    <p class="intro-info-link-text">Point Table</p>
    <img class="intro-info-link-image" src="/buttons/arrow.png" />
  </a>
</div>
