<div class="footer-container">
  <div class="footer-links">
    <a class="footer-link" href="/#sports">Explore</a>
    <a class="footer-link" href="/#list">Events</a>
    <a class="footer-link" href="/announcements">Announcements</a>
    <a class="footer-link" href="/creators">Developers</a>
  </div>

  <hr class="footer-container-divider" />

  <h1 class="footer-department-name">
    DEPARTMENT OF PHYSICAL EDUCATION YESHWANTHPUR CAMPUS
  </h1>

  <img class="footer-logo" src="/home/logo.png" />

  <div class="footer-creators">
    <p class="footer-creator-message">Developed By</p>

    <a
      class="footer-creator"
      href="https://www.linkedin.com/in/aditya-singh-1a031124a/"
      target="_blank"
      >© Aditya Singh (3BCA-B)</a
    >

    <a
      class="footer-creator"
      href="https://www.linkedin.com/in/ryanndmello/"
      target="_blank"
      >© Ryan Dmello (3BCA-B)</a
    >
  </div>
</div>
