<div class="nav-details">
  <img class="nav-menu-image" src="/buttons/menu.png" />

  <div class="nav-menu-links">
    <a href="/" class="nav-menu-link">
      <p class="nav-menu-link-text">Home</p>
    </a>

    <a href="/announcements" class="nav-menu-link">
      <p class="nav-menu-link-text">Announcements</p>
    </a>

    <a href="/#events" class="nav-menu-link">
      <p class="nav-menu-link-text">Events</p>
    </a>

    <a href="/creators" class="nav-menu-link">
      <p class="nav-menu-link-text">About Developers</p>
    </a>
  </div>

  <div class="nav-links">
    <a class="nav-link home" href="/">
      <p class="nav-link-text">Home</p>
    </a>

    <a class="nav-link" href="/announcements">
      <p class="nav-link-text">Announcements</p>
    </a>

    <a class="nav-link" href="/#list">
      <p class="nav-link-text">Events</p>
    </a>

    <a class="nav-link" href="/creators">
      <p class="nav-link-text">About Developers</p>
    </a>
  </div>

  <a class="nav-logo" href="https://christuniversity.in/" target="_blank">
    <img class="nav-logo-image" src="/home/logo.png" />
  </a>
</div>

<hr class="nav-divider" />

<div class="nav-welcome">
  <h1 class="nav-welcome-department">
    DEPARTMENT OF PHYSICAL EDUCATION YESHWANTHPUR CAMPUS
  </h1>

  <p class="nav-welcome-club">PEDAGOGIC SPORTS MEET</p>
</div>
