<div class="intro-container">
  <div class="intro-information-container">
    <%- include("./introduction/information.ejs", { title: title }) %>
  </div>

  <div class="intro-head-container">
    <%- include("./introduction/head.ejs", { heads: heads, background:
    background } ) %>
  </div>

  <img class="intro-background" src="<%= background %>" />
</div>
